/* Reset da pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size:16;
    font-family:'Segoe UI', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100dvh;
    width: 100%;

}

header{
    background-color: #1290ff; /*  cor do fundo*/
    color: #ffffff; 
    padding:24px;
    text-align: center;
    font-size: 24px;

}

/* MENU DE NAVEGAÇÃO */
nav{ 
    background-color: #333;
    display: flex;  /*elemneto por bloco*/
    justify-content: center;
    gap: 24px;/* separa as letras */
    padding: 12px; /* margem */  
    position: sticky;  
    top: 0;
    z-index: 1000;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;/*fonte em negrito */
   
}

nav a:hover{ /*hover vai mudar o mouse quando passar por cima*/
    color: #1e90ff;
    font-style: italic;
    cursor:grab
}

/*LAYOUT PRINCIPAL*/

main{
  display:flex;
  gap: 24px;
  padding: 24px;
}

/* LATERAL */
aside{
width: 25%;
background-color: white;
padding: 16px;
border-radius: 8px;
}

/* CONTEUDO*/
section {
   background-color: white;
   padding: 16px;
   border-radius: 8px
}

/*RODAPÉ*/
footer{
background-color: #222;
color: white;
text-align: center;
padding: 12px;
position: fixed; /* onde eu qro q ele apareça*/
bottom:0; 
width: 100%;/*posicao fixa */
}